{{#if error}}
<div class="m-auto my-8 max-w-7xl flex flex-col gap-8">
	{{#if error}}
	<div class="error">{{{error}}}</div>
	{{/if}}
</div>
{{/if}}
{{#if info}}
<div class="m-auto my-8 max-w-7xl flex flex-col gap-8">
	{{#if info}}
	<div class="info">{{{info}}}</div>
	{{/if}}
</div>
{{/if}}