<form class="flex flex-col gap-4" action="/login" method="POST">
  <input type="email" name="email" placeholder="Email Address" />
  <button class="button-primary" type="submit">Login</button>
</form>