<form class="flex flex-col gap-4" action="/login/token" method="POST">
  <input name="code" placeholder="Enter Code" />
  <input type="hidden" value="{{email}}" name="email" />
  <button class="button-primary" type="submit">Login</button>
</form>