<form class="flex flex-col gap-4" action="/register" method="POST">
  <input type="name" name="name" placeholder="Username" value="{{name}}" min="3" max="64" />
  <input type="email" name="email" placeholder="Email Address" value="{{email}}" />
  <button class="button-primary" type="submit">
    Register
  </button>
</form>