<html lang="en">

<head>
  {{> head}}
</head>

<body class="flex flex-col" style="min-height: 100vh">
  {{> errors}}
  <div class="max-w-7xl w-full m-auto px-4 flex-1">{{{body}}}</div>
  <script src="/javascripts/main.js"></script>
</body>

</html>