<div class="my-4 flex flex-col gap-4">
  <h1>{{title}}</h1>
  <div class="border-t pt-4">
    <h4>Username</h4>
    <div class="mt-2">{{user.name}}</div>
  </div>
  <div class="border-t pt-4">
    <h4>Email Address</h4>
    <div class="mt-2">{{user.email}}</div>
  </div>
  <div class="border-t pt-4">
    <a href="/account/delete" class="button-danger">Delete Account</a>
  </div>
</div>