<div class="my-16 mx-8 gap-8 flex flex-col items-center">
  <div class="font-header font-extrabold text-4xl md:text-6xl text-center tracking-tight md:max-w-lg m-auto">
    Home Unauthed.
  </div>
  <a class="button-primary p-4 sm:p-6 w-full sm:w-1/2 lg:w-1/4" href="/register">Register</a>
  <hr class="w-4/5 sm:w-2/5 lg:w-1/5 m-auto" />
  <a class="button-primary p-4 sm:p-6 w-full sm:w-1/2 lg:w-1/4" href="/login">Login</a>
</div>